.registers
*egg-info
.coverage
cover
.noseids
sq.db
__pycache__
out-comptests
dist
.mypy_cache
test_objects
test-results/
errors
evaluator.log
trace-cover
out/
out-docker
.coverage.dorothy.*
.coverage.thinkpad-p51s.*
.compmake_history.txt
*graphml
.idea
venv
